html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: $primary-background;
  font-family: "Roboto", serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
// ------------ extends ------------
%primary-button {
  border-radius: $default-border-radius;
  background-color: $primary-cta;
  color: $secondary-background;
  border: 0;
  height: 2.7rem;
  padding: 0 2rem;
  font-size: 0.8rem;
  transition: all 0.125s ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($primary-cta, 10%);
    box-shadow: inset 0 0 0.25rem darken($primary-cta, 20%);
  }
}

%secondary-button {
  @extend %primary-button;
  background-color: lighten($primary-borders, 30%);
  color: #000;

  &:hover,
  &:focus {
    background-color: lighten($primary-borders, 20%);
    box-shadow: inset 0 0 0.25rem $primary-borders;
  }
}

%primary-input {
  width: 95%;
  margin-top: 0.5rem;
  height: 2.7rem;
  border-radius: $default-border-radius;
  border: 1px solid $primary-borders;
  padding-left: 1rem;
  transition: all 0.125s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    outline: none;
    border-color: $primary-cta;
  }
}
