.job-tile {
  max-width: 30rem;
  list-style-type: none;
  border-radius: $default-border-radius;
  border: 1px solid lighten($primary-borders, 20%);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  // width: 40%;
  position: relative;
  transition: all 0.125s ease-in-out;
  background-color: $secondary-background;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    outline: none;
    border-color: $primary-cta;
  }

  &::after {
    position: absolute;
    content: "...";
    display: block;
    top: 1rem;
    right: 0.5rem;
    transform: rotate(90deg);
    font-size: 2rem;
  }

  &__title {
    width: 100%;
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__company {
    width: fit-content;
    margin: 0;
  }

  &__company-rating {
    margin: 0 0 0 1rem;
    flex-grow: 1;
    font-size: 0.8rem;
    font-weight: bold;

    &::after {
      margin-left: 0.4rem;
      content: "⭐";
      display: inline;
    }
  }

  &__location {
    width: 100%;
    margin: 0.5rem 0;
  }

  &__responsibilities-list {
    margin: 0;
    padding-left: 1rem;
    list-style-type: circle;
    font-size: 0.9rem;
    color: $primary-borders;
  }
}
